*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.jks
*.keystore
keystore.properties
play-service-account.json
/upload-keystore.jks
fastlane/report.xml
fastlane/README.md
vendor/
.bundle/
